body {
    background-color: #ccc;
    /*
    background-image: url("img/background.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: right bottom;
    */
    color: black;
    text-align: justify;
    padding: 10px;
    text-indent: 15px;
    /*
    word-spacing: 10px;
    letter-spacing: 5px;
    */
}

#caja {
    border: 5px solid black;
    padding: 10px;
    background-color: rgb(79, 161, 228);
    color: white;
    font-family: "Open Sans";
    text-align: center;
    text-transform: uppercase;
    text-decoration: line-through;
    vertical-align: top;
}

h2 {
    color: red;
    background: white;
    background-image: url("img/pattern1.png");
    border: 5px solid red;
}